<%= form_for @trip do |f| %>
<div class = "form_style">
  <fieldset>
    <div>
      <%= f.label :name %>
      <br>
      <%= f.text_field :name %>
    </div>

    <br><br>

    <div>
      <%= f.label :start %>
      <br>
      <%= date_select(:trip, :start, order: [:month, :day, :year]) %>
    </div>

    <br>
    <br>

    <div>
      <%= f.label :end %>
      <br>
      <%= date_select(:trip, :end, order: [:month, :day, :year]) %>
    </div>

  </fieldset>

    <br><br>

  <%= submit_tag "Submit", :class => "btn btn-large btn-primary" %>
</div>
<% end %>
