<nav>
  <ul class="pager">
    <%= link_to trips_path do %>
      <li class="previous"><span aria-hidden="true">&larr; Back to Trips</span></li>
    <% end %>
  </ul>
</nav>

<h1> <%= @trip.name %> </h1>

<div class="page-header">
  <h2>Your Activities</h2>
</div>

<button type="button" class="btn btn-default">
  <%= link_to new_trip_activity_path(@trip) do %>
  <i class="glyphicon glyphicon-plus"> Add New Activity</i>
<% end %>
</button>

<br><br>

<% @trip.activities.each do |activity| %>
  <div class="list-group">
    <a href="#" class="list-group-item active">
      <%= link_to [@trip, activity], :method  => :delete do %>
      <i class="glyphicon glyphicon-trash"></i> Delete
      <% end %>

      <h3 class="list-group-item-heading"><%= activity.name %> </h3>
      <h4 class="list-group-item-heading"><%= activity.date.strftime("%A") %>, <%= activity.date.strftime("%B") %> <%= activity.date.strftime("%y") %>  &bull;  <%= activity.location %></h4>
      <p class="list-group-item-text"><%= activity.description %></p>
    </a>
  </div>
<% end %>
