<nav>
  <ul class="pager">
    <%= link_to trip_path do %>
      <li class="previous"><span aria-hidden="true">&larr; BACK</span></li>
    <% end %>
  </ul>
</nav>

<h1> <%= @trip.name %> </h1>

<div class="page-header">
  <h2>Your Activities</h2>
</div>



<%= link_to new_trip_activity_path(@trip) do %>
      <i class="glyphicon glyphicon-plus"> <div class = "new_trip">Add New Activity</div></i>
  <% end %>

<br><br>

<% @trip.activities.each do |activity| %>
    <li>
      <li class="list-group-item">
        <div class="panel panel-primary">
          <div class="panel-body">
            <h2><%= activity.date.strftime("%A") %>, <%= activity.date.strftime("%B") %> <%= activity.date.strftime("%y") %></h2>
          </div>

          <div class="panel-footer">
            

            <div class="activity_location"><%= activity.location %></div>
            
            <div class="activity_description"><%= activity.description %></div>

            <br><br>

              <button type="button" class="btn btn-default">
                <%= link_to [@trip, activity], :method  => :delete do %>
      <i class="glyphicon glyphicon-trash"></i> Delete
      <% end %>
             
              </button>

            </div>
          </div>
      </li>
  <% end %>
