<h1 style="color: red"><strong>trips#show</strong></h1>
<br>

<%= link_to "Back to trips", trips_path %>
<br>
<%= link_to "Add New Trip", new_trip_path %>

<h1> <%= @trip.name %> </h1>

<h2> Your activities: </h2>

<%= link_to "Add New Activity", new_trip_activity_path(@trip) %>

<table border="1">
<th>Name</th><th>Date</th><th>Description</th><th>Location</th><th>Edit/Delete</th>
<% @trip.activities.each do |activity| %>
  <tr>
    <td> <%= activity.name %> </td>
    <td> <%= activity.date %> </td>
    <td> <%= activity.description %> </td>
    <td> <%= activity.location %> </td>
    <td> <%= link_to "Delete", [@trip, activity], :method  => :delete %></td>
  </tr>
<% end %>
</table>
