<!DOCTYPE html>
<html>
<head>
  <title>Etla</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Etla</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Trips", trips_path(@trip) %></li>

      <% if user_signed_in? %>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>

  <% if flash[:alert] %>
    <div class="alert alert-warning" role="alert"><%= alert %></div>
    <div class="alert alert-warning" role="alert"><%= notice %></div>
  <% end %>

<%= yield %>

</body>
</html>
